---
jenkins:
  restart: always
  container_name: jenkins
  dockerfile: Dockerfile
  build: .
  environment:
    JAVA_OPTS: "-Djava.awt.headless=true"
    JENKINS_OPTS: "--prefix=/jenkins/"
    TERM: xterm
  volumes:
    - ./local:/var/jenkins_home
  ports:
    - "127.0.0.4:80:8080"
    - "127.0.0.4:50000:50000"
